.navigation {
  height: 100vh;
  background-color: #0077aa;
  color: #fff;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  padding: 20px;
  font-family: system-ui, BlinkMacSystemFont, sans-serif;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vertical {
  li {
    width: 100%;
    padding: 10px;
    border-radius: 2px;

    &:hover {
      background-color: #f0f0f0;

      a {
        color: #333;
      }
    }
  }
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.navigation li {
  margin: 10px 0;
}

.navigation a {
  text-decoration: none;
  color: #fff;
}

.has-submenu {
  position: relative;
}

.submenu {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #fff;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  margin: 0;

  display: none;
  flex-direction: column;
  width: 150px;
}

.submenu li {
  margin: 5px 0;
  padding: 12px;

  cursor: pointer;
  &:hover {
    background-color: #f0f0f0;
  }
}

.submenu a {
  text-decoration: none;
}

.has-submenu:hover .submenu {
  display: flex;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.user-name {
  font-weight: bold;
}

.user-email {
  font-size: 14px;
}

.logout-button {
  background-color: #f5f5f5;
  color: black;
  border: 1px solid #ddd;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.logout-button:hover {
  background-color: #ddd;
}
